# Ignore Composer dependencies
/vendor/

# Magento 2 generated folders
/app/etc/env.php
/pub/static/*
!/pub/static/.htaccess
/var/
/generated/

# Ignore IDE files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore node_modules if you use Node.js for front-end development
/node_modules/

# Ignore environment-specific configurations
/.env